.custom-input {
  background: linear-gradient(145deg, #0c4a6eac, #0c4a6e72);
  box-shadow: 20px 20px 60px #89868647, -20px -20px 60px #c3c2c22d;
}

.custom-button {
  border-radius: 50px;
  background: linear-gradient(145deg, #0c4a6eac, #0c4a6e72);
  box-shadow: 20px 20px 60px #89868647, -20px -20px 60px #c3c2c22d;
}
